<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="cart">Ostukorv({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- vbind:src võib lühendada :src; coding challenge'ist mitteaktiivne toote tuhmiks -->
            <img :class="{ 'out-of-stock-img': !inStock }" v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <!-- challenge'i lahendus, ei mõelnud ise välja -->
            <p v-if="onSale">{{ saleMessage }}</p>
            <!-- Coding challenge'is loodud -->
            <p v-if="inStock">On saadaval.</p>
            <p v-else>Pole saadaval</p>
            <!-- Coding challenge'is lingi lisamine tootele -->
            <a :href="url" target="_blank">Vaata videot sokkidest</a>
            <!-- tooteinfo lisamine -->
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <!-- Coding challenge'ist, ise ei leidnud töötavat lahendust -->
            <ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
            </ul>
            <!-- värvide lisamine -->
            <div v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)" class="color-circle" :style="{ backgroundColor: variant.color }"></div>
            <!-- Lisa ostukorvi ja eemalda ostukorvist nupud-->
            <button class="button" :class="{ disabledButton: !inStock }" :disabled="!inStock" v-on:click="addToCart">Lisa ostukorvi</button>
            <button class="button" v-on:click="removeFromCart">Eemalda ostukorvist</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
