<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- vbind:src võib lühendada :src -->
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <!-- Coding challenge'is -->
            <p v-if="onsale">Nüüd müügil!</p>
            <!-- Järgmised kolm rida: kuva eri sõnumeid vastavalt laoseisule -->
            <p v-if="inventory > 10">Saadavus: laos olemas</p>
            <p v-else-if="inventory <= 10 && inventory >0">Saadavus: peaaegu läbi müüdud!</p>
            <p v-else>Pole saadaval</p>
            <!-- Coding challenge'is lingi lisamine tootele -->
            <a :href="url" target="_blank">Vaata videot sokkidest</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
